!!!
%html
  %head
    %title= current_page.seo_title || current_account.name
    = stylesheet_link_tag    'demo/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = tag('meta', name: 'viewport', content: 'width=device-width, initial-scale=1')
    = tag('meta', name: 'description', content: current_page.description)
    = render partial: 'spina/shared/analytics'
  %body
    .container
      = render 'demo/shared/languages'
      = render 'demo/shared/navigation'
      = yield
